<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <%- include("./templates/header.ejs", {title : "آیفون استور", css : "homePage"}) %>
</head>
<body>
  <%- include("./templates/sideBar.ejs") %>
  <div id="check-container">
    <div>
      <h1>ثبت درخواست جعبه گوشی</h1>
    </div>

    <form action="/submit" method="post">
      <div>
        <p style="font-size: 14px; color: rgb(232, 64, 64);">* این صفحه مخصوص ثبت جعبه های ناموجود در فروشگاه می‌باشد که باید تولید شوند. در غیر این صورت به <a href="/box" class="bluelink">ثبت جعبه</a> و یا <a href="/requests" class="bluelink">جعبه ها</a> مراجعه کنید.</p>
    </div>
        <div>
            <input type="text" name="customerNumber" placeholder="شماره تماس مشتری" required>
            <input type="text" name="customerName" placeholder="نام مشتری" required>
            <input type="text" name="phoneModel" placeholder="مدل دستگاه" required>
        </div>
        <div>
            <input type="text" name="IMEI1" placeholder="IMEI1" required>
            <input type="text" name="IMEI2" placeholder="IMEI2" required>
            <select name="capacity" required>
              <option value="64 گیگابایت">64 گیگابایت</option>
              <option value="128 گیگابایت">128 گیگابایت</option>
              <option value="256 گیگابایت">256 گیگابایت</option>
              <option value="512 گیگابایت">512 گیگابایت</option>
              <option value="1 ترابایت">1 ترابایت</option>
              <option value="2 ترابایت">2 ترابایت</option>
            </select>
        </div>
        <div>
          <input type="text" placeholder="رنگ" name="color" required>
          <input type="text" placeholder="پارت‌نامبر" name="partNumber" required>
          <input type="text" placeholder="" required style="opacity: 0;">
        </div>

        <button type="submit">ثبت</button>
    </form>
  </div>
</body>
</html>