<div id="sideBar-container">
  <h2>آیفون استور <small style="font-size: 10px;margin-right: -9px;">جعبه‌ها</small></h2>

  <a href="/submit">ثبت درخواست</a>
  <a href="/requests">لیست جعبه‌ها</a>
  <a href="/box">ثبت جعبه</a>
  <a href="/search">استعلام جعبه</a>
  <% if(user.username == "shayan"){ %>
    <a href="/logs">سوابق</a>
    <a href="/users">کاربران</a>
  <% } %>
  <a href="/logout">خروج</a>
</div>